#wrap{width: 100%;}

/* 상단 */
#header{
    width: 100%;height:130px;
    /* background-color: #ccc; */
}
#header_in{
    margin: 0 auto;
    width: 1300px; height: 130px;
    /* background-color: aliceblue; */
    position: relative;
}
#header_in .logo{
    float: left; margin-top: 20px;}
#header_in .infomn{
    position: absolute;
    top:20px; right: 26px;}
#header_in .infomn li{
    float: left; margin-left: 26px;
}
#header_in .infomn li a{font-size: 12px;}

#header_in .nav{
    /* background-color: yellowgreen; */
    float: right; margin: 75px 26px 0 0;
   
}
#header_in .nav>ul{ 
   
    width: 805px;height: 21px; 
    display: flex; justify-content: space-between;}

#header_in .nav>ul>li>a{
    font-size: 18px; font-weight: 700;
} 

/* 메인슬라이드 */
#main{
    width: 100%;height:604px;
    
}
#main_in{
    margin: 0 auto;
    border-radius: 7px;
    width: 1300px;height: 604px;
    background-color: steelblue;
}

/* 컨텐츠 */
#contents{
    
    width: 100%; 
    
}
#resume_goto{
    margin: 0 auto;
    padding: 42px 26px 0 26px; box-sizing: border-box;
    width: 1300px;height:196px ;
   border-bottom:3px solid #777 ;}
#resume_goto .goto_ttl{float: left;}
#resume_goto .goto_ttl h3{font-size:35px; padding-bottom: 10px;}
#resume_goto .goto_ttl p{
    padding-top: 3px;
}

#resume_goto .gotobtn{
    margin-top: 10px;
    float: right; cursor: pointer;
    border: 1px solid #777;
    border-radius: 7px;
    text-align: center; line-height: 60px;
    width:185px; height: 60px;
}
/* 미술관 소개 */
#introduction{
    margin-top: 100px; box-sizing: border-box;
    width: 100%;height:500px;
   
    overflow: hidden;
    position: relative;
}
#introduction .veiw>h2{
    float: left;
    margin: 100px 0 0 26px;
    font-size: 35px;
}
.slide_area{
    position: absolute;
    top: 0;right: -450px;
    
    width: 1500px;height: 500px; 
    border:3px solid #777;
}
#introduction .veiw{
   margin: 0 auto;
    width:1300px; height: 500px; 
}
.museum_list{ 
    position: absolute;
    top: 0; left: 0;
    display: flex; justify-content: space-between;
    width: 1600px; height: 500px;}
.museum_list>li{
    width:330px; height: 500px;
   
} 
.intro_imgbox{
    width: 330px; height: 350px;
    border-radius: 7px;
    background-color: rgb(224, 187, 181);
}
.listbox h5{
    float: left;padding: 8px 0 0 5px;
    font-size: 20px;
}
.listbox span{
    padding: 9px 0 0 20px;
    display: block; font-weight: 700;
    float: left;font-size: 20px;
    color: #999;
}
.listbox p{
    display: block;
    font-size: 14px;
    width: 100%;
    padding: 10px 0 0 5px;
    float: left; line-height: 20px;
}
.museum_contents li{
    margin: 15px  0 0 5px;
    padding: 3px 3px;
    background-color: #666;
    border-radius: 7px;
    color: #fff;
    float: left;font-size: 12px;
}
.listbox a{
    width: 100%;
    display: block;margin: 10px 0 0 5px;
    float: left; font-size: 10px;
}
/* 전시 */

#exhibition{
    margin-top: 200px;
    padding-top: 20px;
    box-sizing: border-box;
    width: 100%; height: 865px;
   }
#exhibition .ttl{
    margin-left: 285px;
}
.exhibition_top{
    margin-top: 10px;
    width: 100%;height:800px;
    background-color: #3a3333;
}
.museum_btn{
    width: 100%; height: 98px;
    border-bottom:3px solid #777;
    box-sizing: border-box;
}
.museum_btn_in{
    margin: 0 auto;
    width: 1300px;height: 98px;
    background-color: #666;
}
.museum_btn_in>ul{
    margin: 0 auto;
    width: 1160px;height: 96px;
   line-height: 96px;
    display: flex; justify-content: space-around;
    background-color: #7c7a7a;
}

.museum_btn_in>ul>li>a{
    font-size: 16px;
    color: #fff;
}

.exhibition_bottom{
    margin: 0 auto;
    width: 1300px; height: 650px;
    background-color:cadetblue;
}


/* 관련시설 */
#fasility{
    margin: 0 auto;
    margin-top: 100px;
    width: 1300px; height: 830px;
   
}
.fasility_box{
    margin-top: 10px;
    width: 100%;height: 750px;
    
}
.top_box{
    margin-bottom: 30px;
    width: 100%; height: 362px;
   
}
.artbank{
    float: left;
    width: 360px; height: 362px;
    background-color:#ccc;}
.residence{
    float: right;
    width: 910px; height: 362px;
    background-color: #3a3333;
}    
.bottom_box{
    width: 100%; height: 362px;
   
}
.child_art{
    float: left;
    width: 910px; height: 362px;
    background-color: #666;
}
.library{
    float: right;
    width: 360px; height: 362px;
    background-color: slategray;
}
/* 디지털 미술관 */
#mmcatv{
    margin: 0 auto;
    margin-top: 100px;
    width: 1300px;height: 548px;
   
}
.mmtv_main_box{
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 100%; height:450px;
    background-color: #3a3333;
}
.movie_group{
    margin: 0 auto;
    width: 1207px;height: 295px;
    display: flex;
    justify-content: space-between;
    
}
.moviebox{
    width: 390px;height: 295px;
    background-color: #777;
}
/* 뉴스레터 */
#newsletter{
    margin-top: 100px;
    width: 100%; height:528px ;
}
#newsletter .ttl{
    margin-left: 290px;
}

.newspage{
    margin-top: 20px;
    width: 100%; height:466px;
    background-color: #4b4343;
}
.news_in{
    margin: 0 auto;
    width: 1300px; height: 466px;
    background-color: #3a3333;
    opacity: 0.9;
}
/* 새소식 */
#notice{
    width: 100%; height: 550px;
    
}
#left_box{
    float: left;
    width:924px; height: 550px;
    background-color: #bdbdbd;
}
#left_box .news_box{
    float: right;
    padding-top:10px ;
    box-sizing: border-box;
    width: 645px;height: 319px;
    border: 3px solid #fff;
}
#left_box .news_box h4{
    font-size: 20px;
}

#left_box .news_box_in{
    width: 100%; height: 210px;
    border-top:3px solid #3a3333;
    border-bottom:3px solid #3a3333;

}

#right_box{
    float: right;
    width: 924px;height: 550px;
  
}
#right_box .announce_box{
    float: left;
    width: 645px; height: 319px;
    border: 3px solid #4b4343;
}

/* 하단 */
#footer{
    width: 100%;height: 327px;
    background-color: #3a3333;
}