#wrap{width: 100%;}

/* 상단 */
#header{
    width: 100%;
    /* background-color: #ccc; */
}
#header_in{
    margin: 0 auto;
    width: 1300px;
    background-color: aliceblue;
    position: relative;
}
#header_in .logo{
    float: left; margin-top: 20px;}
#header_in .infomn{
    position: absolute;
    top:20px; right: 26px;}
#header_in .infomn li{
    float: left; margin-left: 27px;
}
#header_in .infomn li a{font-size: 12px;}

#header_in .nav{
    float: right; margin: 75px 0 0 0;
    position: relative;
}
#header_in .nav>ul{ 
   
    
    /* display: flex; justify-content: space-between;} */}

#header_in .nav>ul>li{
    float: left; margin-left: 40px;
    position: relative;
    width: 100px;height:10px ;
} 
#header_in .nav>ul>li:nth-child(4){
    padding-right:20px ;
}


#header_in .nav>ul>li>a{
    font-size: 18px; font-weight: 700;
} 

#header_in .sub{
    position: absolute;
    top: 60px;left: -52px; text-align: start;
    z-index: 1000;
}
#header_in .sub>li{
    
    text-align: center;
    width: 150px;
    height: 40px;
}
#header_in .sub>li:hover{
    background-color: #111;
}

#header_in .sub>li>a{
    color: #fff;
    line-height: 40px;
}

#header_in .nav_back{
    position: absolute;
    top: 120px; left: 0;
    width: 1300px;height: 300px;
    background-color: #272727;
    z-index: 900;
   
}

/* 메인슬라이드 */
#main{
    margin: 0 auto;
    border-radius: 7px;
    overflow: hidden;
    width: 1300px;height: 604px;
    position: relative;
    background-color: steelblue;
    
}

.slider{
    width: 1300px;
    height: 604px;
    position: absolute;
    background-color: turquoise;
}

.slider>li{
   
    display: inline;
    margin: 0;
    position: relative;
}
.slider>li>img{
    width: 1300px; height: 604px;
    position: absolute;
    transform: all 1s;
}

.slider>li:nth-child(1){
    left: 0;
   
}
.slider>li:nth-child(2){
    left: 1300px; 
  
}
.slider>li:nth-child(3){
    left: 2600px; 
}
.slider_btn{
    z-index: 200;
    position: absolute;
    top: 550px; left: 600px;
}
.slider_btn>li{
    float: left; margin-left: 10px;
    width: 10px;height: 10px;
    border-radius: 7px;
    background-color: white;
}
.slider_btn>li.on{
    width: 30px;
    animation-name: ani01;
    animation-duration: 1s;
}
@keyframes ani01{
    0%{
        width: 15px;
    }
    100%{
        width: 30px;
    }
}


/* 컨텐츠 */
#contents{
    width: 100%; 
}

#resume_goto{
    margin: 0 auto;
    padding: 42px 26px 0 26px; box-sizing: border-box;
    width: 1300px;height:196px ;
   border-bottom:3px solid #777 ;}
#resume_goto .goto_ttl{float: left;}
#resume_goto .goto_ttl h3{font-size:35px; padding-bottom: 10px;}
#resume_goto .goto_ttl p{
    padding-top: 3px;
}

#resume_goto .gotobtn{
    margin-top: 10px;cursor: pointer;
    float: right; cursor: pointer;
    border: 1px solid #777;
    border-radius: 7px;
    text-align: center; line-height: 60px;
    width:185px; height: 60px;
}
#resume_goto .gotobtn:hover{
    background-color: #666;
    color: #fff;
    border: 1px solid #777;
}


/* 미술관 소개 */
#introduction{
    margin-top: 100px; box-sizing: border-box;
    width: 100%;height:500px;
    overflow: hidden;
    
    
}

#introduction .ttl_box{
    width: 300px;height: 500px;
    background-color: #adadad;
}
.slide_area{
    
    width: 1500px;height: 500px; 
    border:3px solid #777;
}
#introduction .veiw{
    /* position: absolute;
    top: 0;right: -450px; */
   margin: 0 auto;
   position: relative;
    width:1300px; height: 500px; 
}
.museum_list{ 
    position: absolute;
    top: 0; right: -350px;
    display: flex; justify-content: space-between;
    width: 1080px; height: 500px;}
.museum_list>li{
    width:330px; height: 500px;
   
} 
.intro_imgbox img{
    width: 100%; height: 100%;
}

.intro_imgbox{
    width: 230px; height: 250px;
    border-radius: 7px;
    overflow: hidden;
    background-color: rgb(224, 187, 181);
}
.listbox h5{
    float: left;padding: 8px 0 0 5px;
    font-size: 20px;
}
.listbox span{
    padding: 9px 0 0 20px;
    display: block; font-weight: 700;
    float: left;font-size: 20px;
    color: #999;
}
.listbox p{
    display: block;
    font-size: 14px;
    width: 100%;
    padding: 10px 0 0 5px;
    float: left; line-height: 20px;
}
.museum_contents li{
    margin: 15px  0 0 5px;
    padding: 3px 3px;
    background-color: #666;
    border-radius: 7px;
    color: #fff;
    float: left;font-size: 12px;
}
.listbox a{
    width: 100%;
    display: block;margin: 10px 0 0 5px;
    float: left; font-size: 10px;
}
/* 전시 */

#exhibition{
    margin-top: 200px;
    padding-top: 20px;
    box-sizing: border-box;
    width: 100%; height: 865px;
    position: relative;
   }
#exhibition .ttl_box{
    padding-bottom: 20px;
}

#exhibition .exhi_left_btn{
    position: absolute;
    top: 500px; left: 300px;
}
#exhibition .exhi_left_btn img{
    width: 45px; height: 45px;
}
#exhibition .exhi_right_btn{
    position: absolute;
    top: 500px; right: 300px;
}
#exhibition .exhi_right_btn img{
    width: 45px; height: 45px;
}

#exhibition .ttl_box{
    margin: 0 auto;
    width: 1300px;
    height: 50px;
}
.exhibition_top{
    margin-top: 10px;
    width: 100%;height:800px;
    background-color: #141313;
}
.museum_btn{
    width: 100%; height: 98px;
    border-bottom:3px solid #777;
    box-sizing: border-box;opacity: 0.7;
}
.museum_btn_in{
    margin: 0 auto;
    width: 1300px;height: 98px;
}
.museum_btn_in>ul{
    margin: 0 auto;
    width: 1160px;height: 96px;
   line-height: 96px;
    display: flex; justify-content: space-around;
    background-color: #7c7a7a;
}

.museum_btn_in>ul>li>a{
    font-size: 16px;
    color: #fff;
}

.exhibition_bottom{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1300px; height: 650px;
   
}
.exhibition_bottom .post_area{
    width: 429px;height: 544px;
    border-radius: 7px;
    overflow: hidden;
}
.exhibition_bottom .exhibition_txt_area{
    margin-left: 200px;
    width: 450px;height: 550px;
    color: #fff;

}
.exhibition_txt_area .exhhi_place{
    font-size: 15px;
}

.exhibition_txt_area .exhi_ttl{
    padding-top: 20px;
    font-size: 30px;
}

.exhibition_txt_area .date{
   
    padding: 20px 0 10px 0; font-size: 20px; font-weight: 700;
}
.exhibition_txt_area .stereo_guide{
   padding: 0 0 10px 0;
}
.exhibition_txt_area .exhi_exlpa p{
    font-size: 15px; padding-top: 10px;

}
.exhibition_txt_area .reserve_btn{
    margin-top:20px ; cursor: pointer;
    line-height: 40px; font-size: 15px;
    width: 120px;height: 40px;
    text-align: center;
    border: 1px solid #fff;
    border-radius: 7px;
}



/* 관련시설 */
#fasility{
    margin: 0 auto;
    margin-top: 200px;
    width: 1300px; height: 830px;
   
}
#fasility  .ttl_box{
    padding-bottom: 30px;
}

.fasility_box{
    margin-top: 10px;
    width: 100%;height: 750px;
    
}

.top_box{
    margin-bottom: 30px;
    width: 100%; height: 362px;
   
}
.artbank{
    float: left;
    background: url(../imags/img_ex04.jpg) 10% 30%;
    width: 360px; height: 362px;
    background-color:#ccc;}
.residence{
    float: right;
    background: url(../imags/residence.png) no-repeat 30% 50%;
    width: 910px; height: 362px;
    background-color: #3a3333;
}    
.bottom_box{
    width: 100%; height: 362px;
   
}
.child_art{
    float: left;
    background: url(../imags/child_art03.jpg) 0  50%;
    background-size: 100% ;
    width: 910px; height: 362px;
    background-color: #666;
}
.library{
    float: right;
    background: url(../imags/library04.jpg) no-repeat;
    background-size: 100% 100%;
    width: 360px; height: 362px;
    background-color: slategray;
}
/* 디지털 미술관 */
#mmcatv{
    margin: 0 auto;
    margin-top: 200px;
    width: 1300px;height: 548px;
}
#mmcatv .ttl_box{
    padding-bottom: 30px;
}

.mmtv_main_box{
    margin-top: 10px;
    display: flex;
    align-items: center;
    width: 100%; height:450px;
    background-color: #3a3333;
}
.movie_group{
    margin: 0 auto;
    width: 1207px;height: 295px;
    display: flex;
    justify-content: space-between;
    
}
.moviebox{
    width: 390px;height: 295px;
    background-color: #777;
}
/* 뉴스레터 */
#newsletter{
    margin-top: 200px;
    width: 100%; height:528px ;
    position: relative;
}

#newsletter .ttl_box{
    margin: 0 auto;
    padding-bottom:10px ;
    width: 1300px; height: 50px;
}
#notice .ttl{
    margin:  0 auto;
    width: 1300px;
    height: 50px;
}
.subscrip_btn{
    position: absolute;
    top: 130px;left: -20px;
    width:610px ;height: 66px;
    border:2px solid #fff;
   line-height: 66px;
    border-radius: 7px; z-index: 200;
}
.subscrip_btn a{
    padding-left:400px ;
    color: #fff;
}

.newspage{
    margin-top: 20px;
    width: 100%; height:466px;
    background-color: #4b4343;
}

.news_in{
    margin: 0 auto;
    width: 1300px; height: 466px;
    background-color: #3a3333;
    opacity: 0.9; position: relative;
}
.news_in .right_btn {
    position: absolute;
    top:300px ; right: 0;
}

.news_in .right_btn img{
    width: 30px; height: 30px;
}

.news_in .left_btn img{
    width: 30px; height: 30px;
}
.news_in .left_btn {
    position: absolute;
    top:300px ; left: 0;
}
.news_in_box{
    float: right;
    width: 850px;height: 466px;
    
}
.news_in_box .image_box{
    padding-top: 50px;
    float: right;
    width: 450px; height: 450px;

}
.news_in_box .newsletter_box{
    margin: 250px 0 0 0;
    padding: 50px 20px 0 0;
    box-sizing: border-box;
    text-align: right;
    width: 400px;height: 173px;
}

.news_in_box .newsletter_box h5{
    font-size:25px; color: #fff;
}
.news_in_box .newsletter_box p{
    padding-top: 10px;
    color: #fff;
}


/* 새소식 */
#notice{
    margin-top: 90px;
    width: 100%; height: 550px;
}
#notice_in{
    margin: 0 auto;
    display: flex;
    width: 1300px;height: 550px;
    
}
#notice_in .right_box{
    width: 650px;height: 550px;
   

}
#notice_in .ttl_box{
    padding: 20px 0 0 30px;
    box-sizing: border-box;
    line-height: 150px;
    width: 650px;height: 150px;
    
    
}
#notice_in .ttl_box .ttl{
   width: 100px; font-size: 30px;
}

#notice_in .ttl_box .ttl_eng{
    float: left; opacity: 0.4;
    font-size: 30px;
    text-transform: uppercase;
}
#notice_in .news_box{
    margin-left: 25px;
    width: 600px;height: 250px;
    border-top: 3px solid #111 ;
    border-bottom: 3px solid #111 ;
}
#notice_in .left_box{
    width: 650px;height: 550px;
   
}

#notice_in .notice_box{
    margin-left: 25px;
    width: 600px;height: 250px;
    border-top: 3px solid #111 ;
    border-bottom: 3px solid #111 ;
}

/* 하단 */
#footer{
    width: 100%;height: 400px;
    
}
#footer_top{
    width: 100%;height: 250px;
    background-color: #3a3333;
}
#footer_top .top_in{
    margin: 0 auto;
    padding: 20px 0 0 20px;
    box-sizing: border-box;
    width: 1300px;height:200px;
    background-color: #3a3333;
}
#footer_top .top_in .company_info {
    float: left;
}
#footer_top .top_in .company_info p{
    padding-top: 3px;
    font-size: 13px; color: #adadad;
}
#footer_top .top_in .sub_mn{
    float: right;
    width: 625px;height: 200px;
}
#footer_top .top_in .sub_mn_li{
    margin-left: 150px;
}

#footer_top .top_in .sub_mn_li >li{
    float: left; margin-left: 60px;
}
#footer_top .top_in .foot_li>li>a{
    color: #adadad; font-size: 12px;
}

#footer_bottom{
    
    width: 100%;height: 127px;
   
}
#footer_bottom .bottom_in{
    margin: 0 auto;
    padding-top: 15px;
    box-sizing: border-box;
    width: 1300px;height: 127px;
    
}

